<header>
    <a class="site-header__logo" rel="home" href="https://99app.com">99</a>
</header>
<br>
<div class="d-flex h-100 w-100 d-flex justify-content-center">
  <router-outlet></router-outlet>
</div>
<br>


<footer class="site-footer">
  <div class="site-footer__top"></div>
  <div class="container">
    <div class="py-5">
      <div class="row mt-m-5 mt-d-5 no-gutter-bottom d-flex flex-column align-self-center">
        <div class="col-5 d-flex flex-column justify-content-center align-self-center">
            <div class="text-center">
                <a class="site-footer__logo" rel="home" href="https://99app.com/">99</a>
                <div class="copyright">2018 © 99</div>
                <div class="">99 Tecnologia Ltda</div>
                <div>CNPJ/MF 18.033.552/0001-61</div>
              </div>
          <div class="site-footer__social-box">
            <nav class="site-footer__social mt-1">
              <ul>
                <div>
                  <a href="https://twitter.com/99" target="_blank" class="social twitter">
                    <span>Twitter</span>
                  </a>
                </div>
                <div>
                  <a href="https://www.facebook.com/voude99" target="_blank" class="social facebook">
                    <span>Facebook</span>
                  </a>
                </div>
                <div>
                  <a href="https://www.linkedin.com/company/2635078/" target="_blank" class="social linkedin">
                    <span>LinkedIn</span>
                  </a>
                </div>
                <div>
                  <a href="https://www.youtube.com/user/99Taxis" target="_blank" class="social youtube">
                    <span>Youtube</span>
                  </a>
                </div>
                <div>
                  <a href="https://www.instagram.com/voude99/" target="_blank" class="social instagram">
                    <span>Instagram</span>
                  </a>
                </div>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>