.btn-calc {
    background: #fd0;
    border: none;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    color: black;
}

.display-result {
    height: 40px;
    margin-top: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow {
    background: #fd0;
}

.green {
    background: greenyellow;
}

.card-header img {
    margin:  0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}